/* Import a fun font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    font-family: 'Bangers', cursive; /* Playful font */
    margin: 0;
    padding: 0;
    background-color: #fafafa; /* Lighter background for a more vibrant look */
    color: #333; /* Darker text for better readability */
}

header {
    background-color: #ff6347; /* Tomato red for a fun and vibrant header */
    color: white;
    text-align: center;
    padding: 1em 0;
    font-size: 2.5em; /* Larger font size for the header */
}

main {
    padding: 20px 0; /* More padding for better spacing */
}

footer {
    background-color: #ff6347; /* Matching the header for consistency */
    color: white;
    text-align: center;
    padding: 1em 0;
    font-size: 2.5em; /* Larger font size for the header */
}

.container {
    max-width: 960px; 
    margin: 0 auto; /* Centering the container */
    padding: 0 15px;
}

/* Styling for form elements */
form {
    text-align: center;
}

form .round {
    margin-bottom: 30px; /* More space for better separation of elements */
    background-color: #e0e0e0; /* Slightly darker grey for round sections */
    padding: 15px;
    border-radius: 8px; /* Rounded corners for a softer look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding subtle shadows for depth */
}

form .song {
    margin-bottom: 30px; /* More space for better separation of elements */
    background-color: #f0f0f0; /* Light background for each song section */
    padding: 15px;
    border-radius: 8px; /* Rounded corners for a softer look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding subtle shadows for depth */
}

label, 
input[type='text'], 
select, 
button {
    display: block;
    margin: 10px auto;
    width: 80%; 
    max-width: 400px;
    border: none;
    padding: 10px;
    border-radius: 4px; /* Rounded edges for inputs and buttons */
}

label {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em; /* Larger label font for better visibility */
}

button {
    cursor: pointer;
    background-color: #ff6347; /* Lively green for the submit button */
    color: white;
    font-size: 1.2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for the button */
    transition: background-color 0.3s; /* Smooth transition for button hover */
}

button:hover {
    background-color: #28a745; /* Slightly darker green on hover */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .container, label, input[type='text'], select, button {
        width: 95%;
    }
}

/* Further responsiveness for smaller devices */
@media (max-width: 480px) {
    header {
        font-size: 2em;
    }

    form .round, form .song {
        padding: 10px;
    }
}