body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding-bottom: 50px; /* Adjust as needed */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 960px; /* Or whatever width you prefer */
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px; /* Optional, for some padding on the sides */
}

/* Centering Form Elements */
form {
    text-align: center; /* Center-aligns text and inline elements within the form */
}

form .round,
form .song {
    margin-bottom: 20px; /* Space out each section of the form */
}

/* Styles for form elements */
label, 
input[type='text'], 
select, 
button {
    display: block; /* Makes each element take the full width of its parent */
    margin: 10px auto; /* Adds space around elements and centers them */
    width: 80%; /* Adjust as needed */
    max-width: 400px; /* Adjust as needed */
}

label {
    text-align: left; /* Aligns the label text to the left */
    margin-bottom: 5px; /* Space between label and input */
}

button {
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
}